<div class="row justify-content-center mt-3">
  <div class="col-lg-5 col-md-6">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Recover your lost password</h5>
        <h6 class="card-subtitle text-muted">You will receive an e-mail with password reset instructions.</h6>

        <form class="mt-2" method="POST" action="/" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="input-email"> E-mail address</label>
            <input formControlName="email" id="input-email" type="email" class="form-control "
                   name="email" value="" placeholder="E-mail" required autofocus>

          </div>

          <div class="form-group mb-0">
            <button type="submit" class="btn btn-primary btn-block">
              <i class="fas fa-envelope"></i> Send password reset email
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/login">
        Back to Log in
      </a>
    </div>
  </div>
</div>
