<div class="row justify-content-center mt-3">
  <section class="col-lg-5 col-md-6">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Log in to your account</h5>
        <form method="POST" action="/">
          <div class="form-group">
            <label for="input-email">E-mail</label>
            <input id="input-email" type="email" class="form-control "
                   name="email" placeholder="E-mail" value="" required autofocus>
          </div>

          <div class="form-group">
            <label for="input-password">Password</label>
            <input id="input-password" type="password"
                   class="form-control "
                   name="password" required placeholder="Password">

          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="remember"
                     class="custom-control-input" id="input-remember">
              <label class="custom-control-label" for="input-remember">Remember me</label>
            </div>
          </div>

          <div class="form-group mb-0">
            <button type="submit" class="btn btn-primary btn-block">
              <i class="fas fa-sign-in-alt"></i> Log in
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/forgot-password">
        Forgot your password?
      </a>
    </div>
  </section>

</div>
